.container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.cartao {
  width: 200px;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #000;
  overflow: hidden;
}

.imagem-cartao {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.titulo {
  text-align: center;
}

.nome-personagem {
  text-align: center;
}