@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

  body {
    font-family: 'Roboto', sans-serif;
  }

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
}

.cartao {
  width: 250px;
  cursor: pointer;
}

.imagem-cartao {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 5px solid #ff1510;
}

.titulo, .primeiro-paragrafo {
  text-align: center;

}

.campo-filtro {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 45px;
  background-color: #fdecec;
}

.campo-filtro-personagem {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 20px;
  width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 45px;
}

.input-pesquisa {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 30px;  
  font-size: 1em;
  border: none;
  outline: none;
  flex: 1; 
  background-color: #fdecec;
  color: #ff1510;  
}

.input-pesquisa::placeholder {
  color: #ff1510;
}

.input-pesquisa::placeholder {
  color: #ff1510;
}


.icone-lupa {
  width: 20px;
  height: 20px;
  margin-left: 20px;
}

.icone-toggle-direito, .icone-toggle-esquerdo {
  width: 75px;
  cursor: pointer;
}

.icone-coracao {
  width: 15px;
  cursor: pointer;
}

.vermelho {
  color: #ff1510;
}

.cinza-claro {
  color: #b9b9b9;
}

.filtros {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto;
}

.left {
  order: 1;
}

.right {
  order: 2;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icone-heroi, .icone-toggle-direito, .icone-toggle-esquerdo, .icone-coracao {
  margin-right: 8px;
}

.icone-toggle-esquerdo {
  display: none;
}

.logo-marvel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.footer {
  background-color: #ff1510;
  height: 50px;
  width: 100%;
  margin-top: 30px;
}

.detalhesPer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icone-coracao-branco {
  margin-left: 10px;
  cursor: pointer;
}



.personagem-body {
  background-color: #e7f6e7;
}
.campo-filtro-personagem {

  border: 1px solid transparent;
  border-radius: 20px;
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 7%;
  height: 45px;
}

.input-pesquisa-personagem {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 8px;
  padding-left: 30px;  
  font-size: 1em;
  border: none;
  outline: none;
  flex: 1;
}

.container-detalhe-personagens {
  display: flex;
  margin-left: 5%;
}

.logo-marvel-detalhe-personagens {
  width: 200px;
  margin-top: 15px;
}

.descricao {
  width: 50%;
}

.img-personagem {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

.img-personagem > img{
  width: 400px;
}
.conteudo {
  display: flex;
  width: 75%;
  margin: auto;
}

